@import "../variables";
@import "../media";

.main {
    min-height: 56px;
    background-color: $black;

    @include min-lg {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }
}

.brand {
    color: $white;
    font-weight: 700;
    padding: .9rem 0;

    @include min-lg {
        padding: .5rem 0;
        color: fade-out($white, .3);
    }
}

.scrolled {
    background-color: $black;
}

.toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $primary;
    border: 1px solid $primary;

    &:focus {
      outline: none;
    }
}
