@import "../bootstrap.module";

.main {
    &:hover {
        outline: none;
        background-color: transparent;
    }
    &:active, &:focus {
      outline: none;
      background-color: transparent;
    }
}

.link {
    &:hover {
        color: fade($white, 80%);
    }

    @media(min-width: map-get($grid-breakpoints, 'lg')) {
        transition: none;
        padding: 2rem 1.5rem;
        color: fade-out($white, .3);

        &:hover {
          color: fade-out($white, .1);
        }
        &:active {
          color: white;
        }
    }
}
