@import "./variables";

.popup {
    background: white;
    color: black;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 5px;
    z-index: 9001;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.popup[data-placement^="top"] {
    margin-bottom: 5px;
}

.popup[data-placement^="top"] .arrow {
    border-width: 5px 5px 0 5px;
    border-color: white transparent transparent transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.popup[data-placement^="bottom"] {
    margin-top: 5px;
}

.popup[data-placement^="bottom"] .arrow {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent white transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.popup[data-placement^="right"] {
    margin-left: 5px;
}

.popup[data-placement^="right"] .arrow {
    border-width: 5px 5px 5px 0;
    border-color: transparent white transparent transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.popup[data-placement^="left"] {
    margin-right: 5px;
}

.popup[data-placement^="left"] .arrow {
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent white;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
