@import "../variables";

body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.0625em;
    background-color: $gray-900;
    color: $gray-400;
}

p {
    text-align: justify;
    hyphens: manual;
}
