#crafts {
    .craft {
        background-color: $black;
        display: flex;

        flex-direction: column;
    }

    .craft-description {
        padding: 3em;
        h3 {
            border-bottom: 2px solid $primary;
            display: inline-block;
        }
    }

    .craft-img {
        img {
            object-fit: contain;
            max-width: 100%;
            height: auto;
        }
    }

    @media(min-width: map-get($grid-breakpoints, 'md')) {
        .craft-images {
            display: flex;

            img {
                flex: 1 1 auto;
            }
        }
    }

    @media(min-width: map-get($grid-breakpoints, 'lg')) {
        .craft {
            flex-direction: row;
        }

        .craft-description {
            width: 67%;
        }

        .craft-images {
            width: 33%;
            display: block;
        }
    }

    @media(max-width: map-get($grid-breakpoints, 'md')) {
        .craft-img {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

}
