#crafts {
    .craft-column {
        background-color: $black;
        padding: 3em;

        h3 {
            border-bottom: 2px solid $primary;
            display: inline-block;
        }
    }
;
}
