@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "./navbar";
@import "./buttons";
@import "./masthead";
@import "./info.scss";
@import "./crafts.scss";

body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.0625em;
    background-color: $gray-900;
    color: $gray-400;
}

a {
    color: saturate($primary, 20%);
    &:focus,
    &:hover {
        text-decoration: none;
        color: $primary;
    }
}

.bg-black {
    background-color: $black !important;
    color: $gray-400;
}

.bg-primary {
    background-color: $primary !important;
}

.text-primary {
    color: $primary !important;
}

footer {
    padding: 5rem 0;
    background-image: linear-gradient(to bottom, $bg, $black 100%);
}

section {
    padding: 2rem 0;
}
