$cover: fade-out($bg, .3);

#info {
    background-image: linear-gradient(to bottom, $bg 0%, $cover 25%, $cover 75%, $bg 100%), url('../img/bg-info.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
    dt {
        font-size: 1.2em;
    }
}
