@import "./variables";
@import "../style/variables";

$border-color: $black;
$background-color: $white;

.positioner {
    display: flex;
    justify-content: space-around;
}

.wrapper {
    color: $black;
    background-color: $background-color;
    padding: 5px;
    border-radius: 5px;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
}

.main {
    border: 1px solid $border-color;
    background: repeating-linear-gradient(90deg,
        transparent,
        transparent $cell-width - 1,
        $border-color $cell-width - 1,
        $border-color $cell-width
    );
}

.header {
    display: flex;
    border-bottom: 1px solid $border-color;
}
