@import "./variables";
@import "../../variables";

.wrapper {
    position: absolute;
    height: $cell-height;
    padding: 5px;
}


.main {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;

    border: 2px solid;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.75);

    &:active, &:focus {
        outline: 1px solid $primary;
    }

    &:disabled {
        color: $gray-700;
        pointer-events: none;
    }
}

@mixin colored($base) {
    .main {
        background-color: $base;
        border-color: $base;

        &:not(:disabled):hover{
            background-color: saturate($base, 80%);
            border-color: saturate($base, 80%);
        }

        &:disabled {
            background-color: desaturate($base, 50%);
            border-color: desaturate($base, 50%);
        }
    }

    .active {
        border-color: black;
        background-color: saturate($base, 50%);
        &:hover {
            background: saturate($base, 80%);
            border-color: black !important;
        }
    }
}

.goldenrod {
    @include colored(desaturate(#daa520, 10%));
}

.red {
    @include colored(#CD5C5C);
}

.green {
    @include colored(#9acd32);
}

.copper {
    @include colored(#b87333);
}

.steel {
    @include colored(lighten(#4682b4, 10%));
}

.purple {
    @include colored(desaturate(#be29ec, 30%));
}
